In [1]:
import numpy as np
import pandas as pd
import joblib
from pathlib import Path

In [2]:
DATA_PATH = Path("data")

In [24]:
# Iterate over all the folders in the data folder
df_l = []
for folder in DATA_PATH.iterdir():
    config_files = list(folder.glob("*config*"))
    row_dict = {}
    #Loading any one file cause its all the same
    config = np.load(config_files[0], allow_pickle=True).item()
    row_dict['dataset_name'] = config['dataset_name']
    row_dict['type'] = "classification" if config["regression"]==0 else "regression"
    row_dict['has_categorical_features'] = "data__categorical" in config and config["data__categorical"]==1
    row_dict['n_folds'] = len(config_files)
    #Loading any one train file
    train = np.load(folder/"x_train_fold_0.npy", allow_pickle=True)
    row_dict['n_features'] = train.shape[1]
    row_dict['n_train'] = train.shape[0]
    val = np.load(folder/"x_val_fold_0.npy", allow_pickle=True)
    row_dict['n_val'] = val.shape[0]
    test = np.load(folder/"x_test_fold_0.npy", allow_pickle=True)
    row_dict['n_test'] = test.shape[0]
    df_l.append(row_dict)

In [25]:
data_summary_df = pd.DataFrame(df_l)
data_summary_df

,dataset_name,type,has_categorical_features,n_folds,n_features,n_train,n_val,n_test
0,jannis,classification,False,1,54,10000,14274,33306
1,wine_quality,regression,False,3,11,4547,585,1365
2,analcatdata_supreme,regression,True,5,7,2836,364,852
3,compas-two-years,classification,True,3,11,3476,447,1043
4,visualizing_soil,regression,True,3,4,6048,777,1816
5,sulfur,regression,False,3,6,7056,907,2118
6,heloc,classification,False,3,22,7000,900,2100
7,medical_charges,regression,False,1,3,10000,45919,50000
8,Brazilian_houses,regression,True,3,11,7484,962,2246
9,pol,classification,False,3,26,7057,907,2118
10,abalone,regression,True,3,11,7484,962,2246
11,MiniBooNE,classification,False,1,50,10000,18899,44099

In [1]:
import requests
TOKEN = "6069721026:AAG5mDHXLhRKjFOwNrhsz0KMxTus9S9uV24"
url = f"https://api.telegram.org/bot{TOKEN}/getUpdates"
print(requests.get(url).json())

{'ok': True, 'result': [{'update_id': 447952108, 'message': {'message_id': 3, 'from': {'id': 790388072, 'is_bot': False, 'first_name': '...', 'username': 'manujosephv', 'language_code': 'en'}, 'chat': {'id': 790388072, 'first_name': '...', 'username': 'manujosephv', 'type': 'private'}, 'date': 1685840901, 'text': 'Helloo'}}, {'update_id': 447952109, 'message': {'message_id': 6, 'from': {'id': 790388072, 'is_bot': False, 'first_name': '...', 'username': 'manujosephv', 'language_code': 'en'}, 'chat': {'id': 790388072, 'first_name': '...', 'username': 'manujosephv', 'type': 'private'}, 'date': 1685851915, 'photo': [{'file_id': 'AgACAgUAAxkBAAMGZHwPCy1ErQwBsQm4AAF1NU8avpCrAAIHszEbdgXhV2O307iIvdtbAQADAgADcwADLwQ', 'file_unique_id': 'AQADB7MxG3YF4Vd4', 'file_size': 1606, 'width': 90, 'height': 82}, {'file_id': 'AgACAgUAAxkBAAMGZHwPCy1ErQwBsQm4AAF1NU8avpCrAAIHszEbdgXhV2O307iIvdtbAQADAgADbQADLwQ', 'file_unique_id': 'AQADB7MxG3YF4Vdy', 'file_size': 40564, 'width': 320, 'height': 293}, {'file_id': 'AgACAgUAAxkBAAMGZHwPCy1ErQwBsQm4AAF1NU8avpCrAAIHszEbdgXhV2O307iIvdtbAQADAgADeAADLwQ', 'file_unique_id': 'AQADB7MxG3YF4Vd9', 'file_size': 230500, 'width': 800, 'height': 733}, {'file_id': 'AgACAgUAAxkBAAMGZHwPCy1ErQwBsQm4AAF1NU8avpCrAAIHszEbdgXhV2O307iIvdtbAQADAgADeQADLwQ', 'file_unique_id': 'AQADB7MxG3YF4Vd-', 'file_size': 267822, 'width': 876, 'height': 803}]}}]}

In [2]:
chat_id = 790388072

In [3]:
import requests
message = "hello from your telegram bot"
url = f"https://api.telegram.org/bot{TOKEN}/sendMessage?chat_id={chat_id}&text={message}"
print(requests.get(url).json()) # this sends the message

{'ok': True, 'result': {'message_id': 7, 'from': {'id': 6069721026, 'is_bot': True, 'first_name': 'Training Complete', 'username': 'knock_knock_done_bot'}, 'chat': {'id': 790388072, 'first_name': '...', 'username': 'manujosephv', 'type': 'private'}, 'date': 1685874075, 'text': 'hello from your telegram bot'}}

In [7]:
requests.get(url)