In [1]:
import numpy as np
import pandas as pd
import joblib
from pathlib import Path

In [2]:
DATA_PATH = Path("data")

In [3]:
# Iterate over all the folders in the data folder
df_l = []
for folder in DATA_PATH.iterdir():
    config_files = list(folder.glob("*config*"))
    row_dict = {}
    #Loading any one file cause its all the same
    config = np.load(config_files[0], allow_pickle=True).item()
    row_dict['dataset_name'] = config['dataset_name']
    row_dict['type'] = "classification" if config["regression"]==0 else "regression"
    row_dict['has_categorical_features'] = "data__categorical" in config and config["data__categorical"]==1
    row_dict['n_folds'] = len(config_files)
    #Loading any one train file
    train = np.load(folder/"x_train_fold_0.npy", allow_pickle=True)
    row_dict['n_features'] = train.shape[1]
    row_dict['n_train'] = train.shape[0]
    val = np.load(folder/"x_val_fold_0.npy", allow_pickle=True)
    row_dict['n_val'] = val.shape[0]
    test = np.load(folder/"x_test_fold_0.npy", allow_pickle=True)
    row_dict['n_test'] = test.shape[0]
    df_l.append(row_dict)

In [4]:
data_summary_df = pd.DataFrame(df_l)
data_summary_df

,dataset_name,type,has_categorical_features,n_folds,n_features,n_train,n_val,n_test
0,abalone,regression,True,3,11,7484,962,2246
1,Ailerons,regression,False,3,33,9625,1237,2888
2,albert,classification,True,1,31,10000,14475,33777
3,Allstate_Claims_Severity,regression,True,1,124,10000,50000,50000
4,analcatdata_supreme,regression,True,5,7,2836,364,852
5,Bike_Sharing_Demand,regression,True,2,11,10000,2213,5166
6,Bioresponse,classification,False,5,419,2403,309,722
7,Brazilian_houses,regression,True,3,11,7484,962,2246
8,compas-two-years,classification,True,3,11,3476,447,1043
9,covertype,classification,True,1,54,10000,50000,50000
10,cpu_act,regression,False,3,21,5734,737,1721
11,default-of-credit-card-clients,classification,True,3,21,9290,1194,2788
12,eye_movements,classification,True,3,23,5325,684,1599
13,heloc,classification,False,3,22,7000,900,2100
14,Higgs,classification,False,1,24,10000,50000,50000
15,house_sales,regression,True,1,17,10000,3483,8130
16,jannis,classification,False,1,54,10000,14274,33306
17,medical_charges,regression,False,1,3,10000,45919,50000
18,Mercedes_Benz_Greener_Manufacturing,regression,True,5,359,2946,378,885
19,MiniBooNE,classification,False,1,50,10000,18899,44099
20,nyc-taxi-green-dec-2016,regression,True,1,16,10000,50000,50000
21,pol,regression,False,3,26,10000,1500,3500
22,road-safety,classification,True,1,32,10000,30528,50000
23,sulfur,regression,False,3,6,7056,907,2118
24,superconduct,regression,False,1,79,10000,3378,7885
25,topo_2_1,regression,True,3,4,6048,777,1816
26,visualizing_soil,regression,True,3,4,6048,777,1816
27,wine_quality,regression,False,3,11,4547,585,1365
28,yprop_4_1,regression,False,3,42,6219,799,1867